/* Default style overrides */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  width: 100wh;
  height: 90vh;
  color: #fff;
  padding-bottom: 120px;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 800% 800%;
  -webkit-animation: Gradient 30s ease infinite;
  -moz-animation: Gradient 30s ease infinite;
  animation: Gradient 30s ease infinite;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #fff;
  font-weight: 600;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

p {
  font-size: 1.375rem;
  font-weight: normal;
}

ol, ul {
  margin: 1em 0 3em 4em;
}

ol li, ul li {
  font-size: 1rem;
  margin-bottom: 0.25em;
}

li p {
  padding-right: 3em;
}

/* Custom styles */

.greeting {
  font-size: 8rem;
  font-weight: 600;
  letter-spacing: 0;
}

.icon {
  box-shadow: 0 0.1125em 0.1em rgba(0, 0, 0, 0.25);
}

.icon.ios {
  border-radius: 17.544%;
}

.icon.web {
  border-radius: 100%;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
}

.projects li {
  padding-bottom: 2em;
}

.projects li img:hover {
  transform: scale(1.1);
}

.waver {
  animation-name: waver;
  animation-duration: 0.65s;
  animation-direction: alternate;
  animation-iteration-count: 5;
  animation-timing-function: ease-in-out;
  display: inline-block;
  transform-origin: 50% 90%;
}

/* Keyframe animations */

@keyframes waver {
  0% {
    transform: rotate(-35deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

/* Responsive stuff */

@media only screen and (max-width: 800px) {
  .container {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
  .container {
    padding-left: 4em;
    padding-right: 4em;
  }
}

@media only screen and (max-width: 1000px) {
  .greeting {
    font-size: 4rem;
    padding-left: 0.3em;
    padding-right: 0.3em;
  }
}
