h1, h2, h3, h4, h5, h6 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    /*color: #757575;*/
}

h1.cover-heading {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 1em;
    text-transform: uppercase;
}

p.lead {
    font-size: 2em;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 5px;
    padding: 0 8px;
    letter-spacing: 0.1em;
    line-height: 3em;
    text-transform: uppercase;
}

/* ==========================================================================
   Vegas slider
   ========================================================================== */

.vegas-overlay {
    background: transparent url(../img/16.png);
    opacity: 0.5;
}

/* ==========================================================================
   Social icons
   ========================================================================== */

.social-icons .btn {
    margin-right: 15px;
}
.social-icons {
    padding-top: 10px;
    margin-bottom: 35px;
}
.social-icons .btn.btn-clear {
    border: 1px solid #fff;
}
.btn-round {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 0;
}
.btn-round i {
    font-size: 20px;
    top: 15px;
    position: relative;
}
.btn.btn-clear {
    border: 1px solid #fff;
    color: #fff;
    background: none;
    background-color: none;
    font-weight: bold;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}
.btn.btn-clear:hover, .btn.btn-clear.selected {
    background: #fff;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
.btn-twitter:hover {
    color: #2BA9E0;
}
.btn-tumblr:hover {
    color: #35465C;
}
.btn-spotify:hover {
    color: #81b71A;
}
.btn-github:hover {
    color: #000000;
}
.btn-facebook:hover {
    color: #204385;
}
.btn-dribbble:hover {
    color: #D92C85;
}
.btn-instagram:hover {
    color: #BAB1A8;
}
.btn-linkedin:hover {
    color: #015786;
}
.btn-pinterest:hover {
    color: #CA2128;
}
.btn-google:hover {
    color: #D3492C;
}
