/* ---------------------------------------------- /*
 * General
/* ---------------------------------------------- */

body {
  background-image: none;
  background-color: #fff;
  color: #222;
}

.content {
  padding: 120px 0;
  /*text-align: center;*/
}

.row {
  padding: 20px 0;
}

/* ---------------------------------------------- /*
 * Navigation
/* ---------------------------------------------- */

.navbar {
  background: #333;
	/*background: none;*/
	border-radius: 0;
	border: 0;
	padding: 20px 0;
	/*text-transform: uppercase;*/
	color: #FFF !important;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
	background: none;
	outline: 0;
	color: #EF4836;
}

.navbar-custom .navbar-brand {
	/*font: 700 18px/1.2 'Montserrat', serif, sans-serif;*/
	color: #FFF;
}

.navbar-custom .navbar-nav > li.active {
	border-bottom: 3px solid #FFF;
}

.navbar-custom .navbar-toggle .icon-bar {
	background: #FFF;
}

.navbar-custom .navbar-nav > li > a,
.navbar-custom .navbar-nav .dropdown-menu > li > a {
	color: #FFF;
	font-size: 18px;
}

.navbar-color,
.custom-collapse {
	background: #FFF;
	box-shadow: 0 0 4px rgba(0, 0, 0, .2);
	padding: 0;
}

.navbar-color .navbar-brand,
.custom-collapse .navbar-brand,
.navbar-color .navbar-nav > li > a,
.navbar-color .navbar-nav .dropdown-menu > li > a,
.custom-collapse .navbar-nav > li > a,
.custom-collapse .navbar-nav .dropdown-menu > li > a {
  color: #222;
}

.navbar-color .navbar-nav > li.active {
	/*border-bottom: 3px solid #222;*/
  border-bottom: 3px solid #FFF;
}

.custom-collapse .navbar-nav {
	text-align: left;
}

.custom-collapse .navbar-nav > li.active {
	border: 0;
}

.navbar-color .navbar-toggle .icon-bar,
.custom-collapse .navbar-toggle .icon-bar {
	background: #222;
}

/* ---------------------------------------------- /*
 * Reset border-radius
/* ---------------------------------------------- */

.profile {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
		 -o-border-radius: 3px;
			border-radius: 3px;
}

/* ---------------------------------------------- /*
 * Web Components
/* ---------------------------------------------- */

google-map {
  height: 200px;
}

/* ---------------------------------------------- /*
 * Media
/* ---------------------------------------------- */

@media (max-width: 767px) {

  .content {
    padding: 40px 0;
    text-align: center;
  }
}
